[user]
	name = Mohamed Omar
	email = mohamed12@live.co.uk
	signingkey = E0838DA31FA8210FDD472802B45047297675E6E7
[pull]
	ff = only
[init]
	defaultBranch = main
[commit]
	gpgSign = true
[gpg]
	program = /opt/homebrew/bin/gpg
[tag]
	forceSignAnnotated = true
[gitbutler]
	utmostDiscretion = 1
	signCommits = true
